## URL de la base de données
DATABASE_URL="postgresql://user@localhost:5432/base_aides_run"

## clé API pour soliciter des URL d'admin
API_KEY=12345


## URL des API CMS STRAPI
CMS_URL=https://instance.strapi.com/api

## API KEY POUR Appels CMS STRAPI depuis ce backend
CMS_API_KEY=12345

## API KEY pour appels du ce backend par STRAPI par l'intermédiaire d'un webhook
CMS_WEBHOOK_API_KEY=12345

